.table-row {
    align-items: center;
    margin-bottom: 2px;
    border-radius: 5px;
    justify-content: space-between;
    padding: 15px 20px;
    width: 100%;
}
.table-header {
    align-items: center;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: white;
    font-weight: 650;
    justify-content: space-between;
    padding: 15px 20px;
    width: 100%;
}
.tdhead{
    /* text-align: center; */
    border-left: 5px solid var(--button-color-cian);
}
.tdbody{
    padding: 10px 0px 0px 0px;
}
.trbody{
    margin-top: 10px;
}
table{
    border-collapse: collapse;
}
.editar, .deletar{
    text-align: center;
    padding: 2px 2px 2px 2px;
    border: solid 1px black;
    text-decoration: none;
    color: white;
    border-radius: 2px;
}
.editar{
    background-color: rgb(14, 197, 14);
}
.deletar{
    background-color: red;
}
.gray{
    background-color: rgb(197, 197, 197);
}
.white{
    background-color: rgb(228, 228, 228);
}