.display-flex-column {
    display: flex;
    flex-direction: column;
}

.display-flex {
    display: flex;
}

/* body {
    height: 100vh;
} */

aside {
    position: fixed;
    width: 365px;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 3;
}

aside a {
    width: auto;
    height: auto;
}

aside a img {
    width: auto;
    height: auto;
}

aside img {
    width: 70px;
    height: 70px;
}

#navbar-esq {
    flex-direction: column;
    background-color: #06004CE5;
}

#navbar-dir {
    padding: 25px;
    color: white;
    width: 270px;
    background-color: #06004C;
    gap: 30px;
}


#navbar-dir-enterprise img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.navbar-dir-a {
    color: white;
    justify-content: space-between;
}

.navbar-dir-a a {
    color: white;
    font-size: 16px;
}

#navbar-dir-enterprise {
    align-items: center;
    gap: 20px;
}

#navbar-dir-enterprise h1 {
    font-size: 16px;
}

#navbar-dir-enterprise h2 {
    font-size: 13px;
    font-weight: 200;
}

#navbar-dir-ancoras {
    border-top: white 1px solid;
    border-bottom: white 1px solid;
    gap: 20px;
    padding: 25px 0px;
}

main {
    padding-left: 335px;
    padding-top: 70px;
    width: 100%;
}

header {
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    padding: 15px 40px 15px 375px;
    justify-content: end;
    background-color: white;
    z-index: 2;
}

#header-user {
    align-items: center;
    justify-content: center;
}

#header-button {
    width: 200px;
    height: 40px;
    background-color: var(--button-color-cian);
    border-radius: var(--button-border-radius);
}

#hero {
    padding: 40px 40px;
    gap: 30px;
    min-height: 100vh;
    background-color: var(--bg-color-gray);
}

.hero-titulo {
    align-items: center;
    gap: 20px;
}

.hero-titulo p {
    background-color: white;
    color: #00000077;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
