.chamados-info{
    margin-bottom: 20px;
}
.chamados-info dt{
    display: inline-block;
    color: var(--text-color-titulo);
    font-weight: 600;
}
.chamados-info dd{
    display: inline;
    font-weight: 400;
}
#chamados-descricao{
    columns: 1;
}
#descricao-button{
    display: inline;
}