* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: none;
    font-family: "Poppins", sans-serif;
    border: none;

    --text-color-gray: #9AA3AB;
    --text-color-titulo: #031849;
    --bg-color-gray: #D9D9D9;
    --button-border-radius: 6px;
    --button-color-red: #f73131;
    --button-color-cian: #4FAFCB;
}

.display-flex-column {
    display: flex;
    flex-direction: column;
}

.display-flex {
    display: flex;
}

.button-cian {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    width: auto;
    color: white;
    padding: 5px;
    text-justify: distribute;
    background-color: var(--button-color-cian);
    border-radius: var(--button-border-radius);
}
.button-red{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    width: auto;
    color: white;
    padding: 5px;
    text-justify: distribute;
    background-color: var(--button-color-red);
    border-radius: var(--button-border-radius);
}
.button {
    text-align: center;
    font-weight: 400;
    font-size: 12;
    color: white;
    padding: 5px;
    text-justify: distribute;
    background-color: var(--button-color-cian);
    border-radius: var(--button-border-radius);
}