.titulos {
    display: none;
    align-items: center;
    color: #00000077;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
}

#section-chamados {
    gap: 15px;
}

.chamados {
    align-items: center;
    border-radius: 5px;
    border-left: 5px solid var(--button-color-cian);
    background-color: white;
    justify-content: space-between;
    padding: 15px 20px;
    width: 100%;
}

.chamados p {
    font-size: 13px;
    font-weight: 600;
    color: #031849;
}

.chamados span {
    font-size: 10px;
    color: var(--text-color-gray);
}


.chamados h3 {
    width: 40px;
    height: 40px;
}

#id {
    text-align: center;
    min-width: 90px;
}

#avaliacao {
    width: 40px;
    height: 40px;
}

#avaliacao img {
    width: 40px;
    height: auto;
}

h4 {
    width: 120px;
}

#av{
    width: auto;
}

.email {
    width: 160px;
}

#sobre {
    width: 170px;
}