#chamado-concluido {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    height: 500px;
    padding: 25px 25px;
}

#chamado-concluido h1 {
    font-size: 25px;
    color: #39C039;
}

#chamado-concluido p {
    font-size: 18px;
    color: var(--text-color-titulo);
}