#chamado-aberto{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    height: 500px;
    padding: 25px 25px;
}
#chamado-aberto h1{
    font-size: 25px;
    color: #39C039;
}
#chamado-aberto p{
    text-align: center;
    font-size: 18px;
    color: var(--text-color-titulo);
}