body{
    text-align: center;
}
#divForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inputDiv{
    position: relative;
}
.inputUser{
    border: none;
    outline: none;
    font-size: 15px;
    border-bottom: 1px black solid;
}
.inputLabel{
    font-size: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: .5s;
}
.inputUser:focus ~ .inputLabel, 
.inputUser:valid ~ .inputLabel{
    font-size: 10px;
    color: gray;
    top: -8px;
}